extends layout/default

block page_title 
  - var title = false

block page_cover
  include components/universe-cover

block page_content-title
  .content-title
    .content-title__title Assassins creed
      .content-title__badge
        img(src="./../images/badge-ribbon.png" alt="ribbon")
      .content-title__subtitle Кредо убийцы    

block page_content
  .content
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt possimus quis omnis dolorem, delectus libero ex, nulla, labore officia beatae vero quo. Consectetur, dolor reprehenderit molestiae laborum cum ducimus nisi?Ipsa quibusdam laudantium cum eligendi eius libero alias, quo exercitationem eos, voluptatum culpa dignissimos inventore, distinctio corporis numquam non iusto suscipit facere quisquam voluptatibus adipisci? At facere enim atque rerum.Autem minus fugit, hic adipisci amet tempore quos quae deserunt aspernatur. Aliquam sed nemo vitae culpa, dolorum minima labore qui, a repudiandae quas animi dolore saepe dicta excepturi iste unde.Laudantium odit atque magni quod sed fugiat laborum veniam esse. Magnam commodi maxime labore harum, distinctio ullam fuga in temporibus eos eius assumenda asperiores odit recusandae est, autem sequi molestias.Officia ex architecto incidunt minus repellendus eius sed veniam quisquam maxime illum excepturi aliquam soluta ad aperiam quibusdam corrupti, deleniti velit ab numquam quos quo libero vero officiis possimus! Excepturi.     
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt possimus quis omnis dolorem, delectus libero ex, nulla, labore officia beatae vero quo. Consectetur, dolor reprehenderit molestiae laborum cum ducimus nisi?Ipsa quibusdam laudantium cum eligendi eius libero alias, quo exercitationem eos, voluptatum culpa dignissimos inventore, distinctio corporis numquam non iusto suscipit facere quisquam voluptatibus adipisci? At facere enim atque rerum.Autem minus fugit, hic adipisci amet tempore quos quae deserunt aspernatur. Aliquam sed nemo vitae culpa, dolorum minima labore qui, a repudiandae quas animi dolore saepe dicta excepturi iste unde.Laudantium odit atque magni quod sed fugiat laborum veniam esse. Magnam commodi maxime labore harum, distinctio ullam fuga in temporibus eos eius assumenda asperiores odit recusandae est, autem sequi molestias.Officia ex architecto incidunt minus repellendus eius sed veniam quisquam maxime illum excepturi aliquam soluta ad aperiam quibusdam corrupti, deleniti velit ab numquam quos quo libero vero officiis possimus! Excepturi.     
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt possimus quis omnis dolorem, delectus libero ex, nulla, labore officia beatae vero quo. Consectetur, dolor reprehenderit molestiae laborum cum ducimus nisi?Ipsa quibusdam laudantium cum eligendi eius libero alias, quo exercitationem eos, voluptatum culpa dignissimos inventore, distinctio corporis numquam non iusto suscipit facere quisquam voluptatibus adipisci? At facere enim atque rerum.Autem minus fugit, hic adipisci amet tempore quos quae deserunt aspernatur. Aliquam sed nemo vitae culpa, dolorum minima labore qui, a repudiandae quas animi dolore saepe dicta excepturi iste unde.Laudantium odit atque magni quod sed fugiat laborum veniam esse. Magnam commodi maxime labore harum, distinctio ullam fuga in temporibus eos eius assumenda asperiores odit recusandae est, autem sequi molestias.Officia ex architecto incidunt minus repellendus eius sed veniam quisquam maxime illum excepturi aliquam soluta ad aperiam quibusdam corrupti, deleniti velit ab numquam quos quo libero vero officiis possimus! Excepturi.     
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt possimus quis omnis dolorem, delectus libero ex, nulla, labore officia beatae vero quo. Consectetur, dolor reprehenderit molestiae laborum cum ducimus nisi?Ipsa quibusdam laudantium cum eligendi eius libero alias, quo exercitationem eos, voluptatum culpa dignissimos inventore, distinctio corporis numquam non iusto suscipit facere quisquam voluptatibus adipisci? At facere enim atque rerum.Autem minus fugit, hic adipisci amet tempore quos quae deserunt aspernatur. Aliquam sed nemo vitae culpa, dolorum minima labore qui, a repudiandae quas animi dolore saepe dicta excepturi iste unde.Laudantium odit atque magni quod sed fugiat laborum veniam esse. Magnam commodi maxime labore harum, distinctio ullam fuga in temporibus eos eius assumenda asperiores odit recusandae est, autem sequi molestias.Officia ex architecto incidunt minus repellendus eius sed veniam quisquam maxime illum excepturi aliquam soluta ad aperiam quibusdam corrupti, deleniti velit ab numquam quos quo libero vero officiis possimus! Excepturi.     
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt possimus quis omnis dolorem, delectus libero ex, nulla, labore officia beatae vero quo. Consectetur, dolor reprehenderit molestiae laborum cum ducimus nisi?Ipsa quibusdam laudantium cum eligendi eius libero alias, quo exercitationem eos, voluptatum culpa dignissimos inventore, distinctio corporis numquam non iusto suscipit facere quisquam voluptatibus adipisci? At facere enim atque rerum.Autem minus fugit, hic adipisci amet tempore quos quae deserunt aspernatur. Aliquam sed nemo vitae culpa, dolorum minima labore qui, a repudiandae quas animi dolore saepe dicta excepturi iste unde.Laudantium odit atque magni quod sed fugiat laborum veniam esse. Magnam commodi maxime labore harum, distinctio ullam fuga in temporibus eos eius assumenda asperiores odit recusandae est, autem sequi molestias.Officia ex architecto incidunt minus repellendus eius sed veniam quisquam maxime illum excepturi aliquam soluta ad aperiam quibusdam corrupti, deleniti velit ab numquam quos quo libero vero officiis possimus! Excepturi.     
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt possimus quis omnis dolorem, delectus libero ex, nulla, labore officia beatae vero quo. Consectetur, dolor reprehenderit molestiae laborum cum ducimus nisi?Ipsa quibusdam laudantium cum eligendi eius libero alias, quo exercitationem eos, voluptatum culpa dignissimos inventore, distinctio corporis numquam non iusto suscipit facere quisquam voluptatibus adipisci? At facere enim atque rerum.Autem minus fugit, hic adipisci amet tempore quos quae deserunt aspernatur. Aliquam sed nemo vitae culpa, dolorum minima labore qui, a repudiandae quas animi dolore saepe dicta excepturi iste unde.Laudantium odit atque magni quod sed fugiat laborum veniam esse. Magnam commodi maxime labore harum, distinctio ullam fuga in temporibus eos eius assumenda asperiores odit recusandae est, autem sequi molestias.Officia ex architecto incidunt minus repellendus eius sed veniam quisquam maxime illum excepturi aliquam soluta ad aperiam quibusdam corrupti, deleniti velit ab numquam quos quo libero vero officiis possimus! Excepturi.     

block page_sidebar
  .universe-sidebar
    .inline-info
      .inline-info__title Год создания:
      .inline-info__description 2002
    .inline-info
      .inline-info__title Создатели:
      .inline-info__description Патрис Дезиле, Джейд Рэймонд, Кори Мей
    .inline-info
      .inline-info__title Жанр:
      .inline-info__description Приключенческий боевик
    .inline-info
      .inline-info__title Воплощения:
      .inline-info__description Игры, Книги, Фильмы

block page_additional
  h3.sidebar-title Рейтинг
  circleprogress(name="first" percent="70") Редакция
  circleprogress(name="second" percent="30") Пользователи
  circleprogress(name="third" percent="25") Моя оценка