doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
  body
    h1= htmlWebpackPlugin.options.title
    h6 subtitle
    i.fa.fa-search
    img(src='images/logo-square.png')