div.footer-menu
    a.footer-menu__button(href="#")
        i.fa.fa-plus
    a.footer-menu__button.active(href="#")
        i.fa.icon-edit
    a.footer-menu__button(href="#")
        i.fa.icon-star
    a.footer-menu__button(href="#")
        i.fa.fa-users
    a.footer-menu__button(href="#")
        i.fa.fa-cog