.page__content-title
    block page_content-title
.page__content
    .page__main-content
        block page_content
    .page__info-sidebar
        block page_sidebar
    .page__adv-sidebar.sidebar-sticky-top
        block page_advise
            h3.sidebar-title Реклама
            img(src="./images/advertisment 300x500.jpg" alt="adv")
    .page__add-sidebar
        block page_additional
