.page__footer
    .social-pages
        .social-pages__text Присоединяйтесь к нам
        .social-pages__button
            a(href="").social-button.facebook.icon-facebook
            a(href="").social-button.vk.icon-vkontakte
            a(href="").social-button.twitter.icon-twitter
            a(href="").social-button.googleplus.icon-google