.universe-cover
    .universe-cover__image
        img(src="./../images/universe-cover__image.jpg" alt="universe")
    .universe-cover__shadow
    .universe-cover__logo
        img(src="./../images/universe-cover__logo.png" alt="logo")